.categoriesContainer {
    display: flex;
    flex-direction: column;
    background-color: #ECECEC;
    height: 100vh;
    width: 20%;
    min-width: 200px;
}

.filtersConatiner {
    height: 20%;
    min-height: 160px;
}

.subscriptionsConatiner {
    height: 100%;
    overflow: auto;
}

.subscriptionsConatiner::-webkit-scrollbar {
    background: #e9e9e9;
    width: 2px;
}

.subscriptionsConatiner::-webkit-scrollbar-thumb {
    background: #bebebe;
}

.catTitle>P {
    padding: 8px;
}